@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.first-block .callback-form, .first-block .second-row .second-row-left-block, .first-block .second-row .second-row-right-block {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px; }

.first-block .second-row .second-row-left-block .second-row-left-block-wite, .first-block .second-row .second-row-right-block .green-alpha .border-white form input {
  background-color: white;
  border-radius: 7px; }

.first-block {
  height: 1078px;
  background-image: url("./img/вид_болгарии.jpg");
  background-size: cover; }
  .first-block .left-colum a {
    position: absolute;
    top: 816px; }
  .first-block .social-groupe {
    padding-bottom: 20px; }
    .first-block .social-groupe a {
      padding-left: 15px; }
  .first-block .lable {
    margin-top: -30px;
    margin-right: 115px; }
  .first-block .callback-form {
    width: 474px;
    height: 45px; }
    .first-block .callback-form .mobile {
      width: 214px;
      height: 36px;
      border-radius: 7px;
      border: 1px #44ab4a solid;
      background-color: #ffffff; }
      .first-block .callback-form .mobile :hover {
        cursor: pointer; }
      .first-block .callback-form .mobile .mobile-left {
        width: 36px; }
      .first-block .callback-form .mobile .mobile-center p {
        width: 103px;
        height: 10px;
        color: #000000;
        font-family: Calibri;
        font-size: 13px;
        font-weight: bold;
        line-height: 25px;
        text-transform: uppercase; }
      .first-block .callback-form .mobile .mobile-right {
        width: 36px; }
        .first-block .callback-form .mobile .mobile-right div {
          background-color: #44ab4a;
          border-radius: 6px; }
    .first-block .callback-form .callback-btn {
      color: #ffffff;
      font-family: Calibri;
      font-size: 13px;
      font-weight: bold;
      line-height: 25px;
      text-transform: uppercase;
      background-color: #ff9e04;
      border-radius: 7px;
      width: 248px;
      height: 36px; }
      .first-block .callback-form .callback-btn :hover {
        cursor: pointer; }
  .first-block .big-img {
    top: 200px;
    left: 50%;
    margin-left: -355px; }
  .first-block .second-row .second-row-left-block {
    width: 1009px;
    height: 543px; }
    .first-block .second-row .second-row-left-block .second-row-left-block-wite {
      width: 990px;
      height: 526px; }
      .first-block .second-row .second-row-left-block .second-row-left-block-wite .gradient {
        background-image: url("img/gradient.png");
        width: 380px;
        height: 70px;
        padding-right: 16px;
        color: #ffffff;
        font-family: Calibri;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase; }
  .first-block .second-row .second-row-right-block {
    /* Style for "Прямоуголь" */
    width: 473px;
    height: 711px; }
    .first-block .second-row .second-row-right-block .green-alpha {
      background-color: #44ab4a;
      background: rgba(68, 171, 74, 0.7);
      /* Style for "Bulgaria f" */
      width: 458px;
      height: 694px;
      border-radius: 7px; }
      .first-block .second-row .second-row-right-block .green-alpha .border-white {
        /* Style for "Прямоуголь" */
        width: 446px;
        height: 682px;
        border: white 1px solid;
        border-radius: 7px;
        padding: 40px 50px; }
        .first-block .second-row .second-row-right-block .green-alpha .border-white .block-1 span {
          border-bottom: 5px solid white;
          width: 100%;
          margin-right: -31px; }
        .first-block .second-row .second-row-right-block .green-alpha .border-white .block-1 p {
          /* Style for "ЗАПОЛНИТЕ" */
          width: 182px;
          height: 61px;
          color: #ffffff;
          font-family: Calibri;
          font-size: 33px;
          font-weight: bold;
          line-height: 37.5px;
          text-transform: uppercase; }
        .first-block .second-row .second-row-right-block .green-alpha .border-white .block-2 image {
          /* Style for "232743" */
          width: 65px;
          height: 61px; }
        .first-block .second-row .second-row-right-block .green-alpha .border-white .block-2 p {
          /* Style for "МЫ ПОДБЕРЕ" */
          width: 221px;
          height: 62px;
          color: #ffffff;
          font-family: Calibri;
          font-size: 17px;
          font-weight: bold;
          line-height: 25px;
          text-transform: uppercase; }
        .first-block .second-row .second-row-right-block .green-alpha .border-white form input {
          /* Style for "Ваше имя" */
          margin-top: 20px;
          height: 43px;
          padding-left: 20px;
          color: #000000;
          font-family: Calibri;
          font-size: 17px;
          font-weight: 700;
          font-style: italic;
          line-height: 25px; }
        .first-block .second-row .second-row-right-block .green-alpha .border-white button {
          height: 64px;
          background-color: orange;
          border: 1px solid white;
          border-radius: 10px;
          color: #ffffff;
          font-family: Calibri;
          font-size: 17px;
          font-weight: bold;
          line-height: 25px;
          text-transform: uppercase; }

.cenral-block {
  height: 1111px;
  background-color: #e9e9e9; }
  .cenral-block .left-colum {
    background-image: none; }
  .cenral-block .center-colum {
    padding-top: 0;
    padding-bottom: 0px; }
    .cenral-block .center-colum .center-colum-block {
      width: 1600px;
      border-radius: 10px;
      background-color: white;
      margin-top: -45px;
      height: 100%;
      z-index: 100;
      position: relative; }
      .cenral-block .center-colum .center-colum-block .row-data div {
        height: 100%;
        width: 90px;
        color: #000000;
        font-family: Calibri;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase; }
        .cenral-block .center-colum .center-colum-block .row-data div .data0 {
          background-position-x: 0%; }
        .cenral-block .center-colum .center-colum-block .row-data div .data1 {
          background-position-x: 18%; }
        .cenral-block .center-colum .center-colum-block .row-data div .data2 {
          background-position-x: 36%; }
        .cenral-block .center-colum .center-colum-block .row-data div .data3 {
          background-position-x: 54%; }
        .cenral-block .center-colum .center-colum-block .row-data div .data4 {
          background-position-x: 72%; }
        .cenral-block .center-colum .center-colum-block .row-data div .data5 {
          background-position-x: 90%; }
        .cenral-block .center-colum .center-colum-block .row-data div .data6 {
          background-position-x: 108%; }
        .cenral-block .center-colum .center-colum-block .row-data div div {
          height: 44px;
          width: 100px;
          background: url("img/centrbloc/цифры_иконки.png") 100% 100% no-repeat; }
      .cenral-block .center-colum .center-colum-block .row-star {
        height: 215px;
        background-color: #44ab4a;
        border-radius: 10px;
        color: #ffffff;
        font-family: Calibri;
        font-weight: 700;
        line-height: 25px;
        /* Text style for "Д, етский" */
        font-size: 33px; }
        .cenral-block .center-colum .center-colum-block .row-star p {
          font-size: 17px; }

.slider .slider-control {
  position: absolute;
  bottom: 0; }
  .slider .slider-control .slider-control-border {
    width: 633px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #44ab4a;
    padding: 12px; }
  .slider .slider-control .arrows {
    /* Style for "Прямоуголь" */
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 10px; }
  .slider .slider-control .left-arr {
    background: #44ab4a url("img/slider/double-left.png") no-repeat center center; }
  .slider .slider-control .right-arr {
    background: #44ab4a url("img/slider/double-left.png") no-repeat center center; }
.slider ol {
  list-style: none; }
.slider li {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  margin-right: 15px; }

.cards-tur card {
  /* Style for "Слой 506 к" */
  width: 298px;
  height: 391px;
  background-image: url("img/cards/Слой_506_копия.jpg"); }
  .cards-tur card p {
    color: #ffffff;
    font-family: Calibri;
    font-size: 33px;
    font-weight: 700;
    /* Text style for "АВИА" */
    font-size: 25px; }
    .cards-tur card p span {
      font-size: 17px; }
  .cards-tur card button {
    background-color: #ff9e04;
    border-radius: 7px;
    color: #ffffff;
    font-family: Calibri;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
    text-transform: uppercase;
    width: 260px;
    height: 71px; }
  .cards-tur card:hover .cards-tur-block {
    display: flex; }
  .cards-tur card .cards-tur-block {
    background-color: rgba(68, 171, 74, 0.5);
    display: none; }

.left-colum {
  width: 85px;
  height: 100%;
  background-image: url("./img/Прямоугольник_4.png"); }

footer {
  background-color: #44ab4a;
  height: 36px;
  color: #ffffff;
  font-family: Calibri;
  font-size: 13px;
  font-weight: bold;
  line-height: 25px; }
  footer .div {
    text-transform: uppercase; }

.right-colum {
  width: 88px; }

.center-colum {
  padding: 30px 75px; }

/*# sourceMappingURL=style.css.map */
